{% extends "base.html" %}

{% block content %}

    <h1>Add Blog Entry</h1>
    <br>
    <form action="/newpost" method="post">
        <label>
            Title:
            <br>
            <input type='text' name='blog-title' value='{{blog_title}}'>
        </label>
        <p class='error'>{{title_error}}</p>
        <label>
            Blog Entry:
            <br>
            <textarea name='blog-entry' style='width:512px; height:128px;'>{{blog_body}}</textarea>
        </label>
        <p class='error'>{{body_error}}</p>
        <input type='submit' value='Add Entry'>
    </form>

{% endblock %}